@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #3E54AC;
    --secondary-color: #f6f6f6;
    --tertiary-color: #22D4FD;
    --shadow-color: #808080;
    --detail-color: #ffc800;

    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 20px;
}

.header__menu__link {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--detail-color);
    text-decoration: none;

}

.presentation {
    padding: 8% 15%;
    display: flex;
    align-items:start;
    gap: 82px;
    }

.presentation__main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__main:hover {
    color: var(--shadow-color);
}

.presentation__main__title {
    font-size: 2.25rem;
    font-family: var(--primary-font);

}

.presentation__main__title:hover {
    color: var(--detail-color);
}

.title-highlight {
    color: #22D4FD;
    text-shadow: 1px 1px 1px #e9f8f9;
}

.title-highlight-detail {
    color: var(--detail-color);
}

.presentation__main__text {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    text-align: justify;
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.presentation__links__subtitle {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: right;
}

.presentation__links__nav {
    /* background-color: darkorchid; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--tertiary-color);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-decoration: none;
    font-weight: 600;
}

.presentation__links__link:hover {
    background-color: var(--shadow-color);
    display:block;
}

.presentation__photo {
    width: 30%;
    border-radius: 10px ;
    border: 6px solid var(--secondary-color);
    box-shadow: 10px 10px var(--tertiary-color), 20px 20px var(--detail-color);
}

.footer {
    padding: 24px;
    color: var(--primary-color);
    background-color: var(--detail-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.13rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .header {
        padding: 2%;
    }
    .header__menu {
        justify-content: center;
    }
    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }
    .presentation__main {
        width: auto;
    }

}